.userStateLine {
  cursor: pointer;
}

.field {
  border-collapse: collapse;
  table-layout: fixed;
}

.row {
}

$default-border-color: darkgray;
$default-background-color: white;

.ceil {
  min-width: 7px;
  max-width: 7px;
  width: 7px;
  min-height: 7px;
  max-height: 7px;
  height: 7px;
  padding: 0;
  background-color: $default-background-color;
  border: 1px solid $default-border-color;
  box-sizing: border-box;
}

.ceil:hover {
  border: 2px solid var(--cursorColor, $default-border-color);
  background-color: var(--cursorColor, $default-background-color);
}
